* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  span {
    display: inline-block;
  }
  
  .browser {
    max-width: 900px;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
    font-family: sans-serif;
    color: #111;
  }
  
  .titlebar {
    background: #2b092a;
    padding: 10px 20px;
  }
  
  .circle {
    width: 12px;
    height: 12px;
    border-radius: 999px;
    margin-right: 4px;
  }
  
  .circle.close {
    background: red;
  }
  
  .circle.maximize {
    background: orange;
  }
  
  .circle.minimize {
    background: green;
  }
  
  .circle.online {
    background: #29ac76;
  }
  
  .window {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 100%;
  }
  
  .sidebar {
    background: #3f0d40;
    color: white;
  }
  
  .sidebar h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    padding-left: 20px;
  }
  
  .sidebar .user {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .sidebar h3 {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .sidebar li {
    padding-left: 20px;
    line-height: 1.7;
    color: #bbb;
  }
  
  .sidebar li:hover {
    color: white;
    background: #2b092a;
    cursor: pointer;
  }
  
  .sidebar li.active {
    background: #1364a3;
    color: white;
  }
  
  .sidebar li.unread {
    font-weight: 700;
    color: white;
  }
  
  .group-member-count {
    font-size: 0.8rem;
    background: #aaa;
    color: black;
    padding: 4px;
    line-height: 0.8rem;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .chat-container header {
    min-height: 64px;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
  }
  
  .chat-container .name {
    font-weight: 700;
    margin-bottom: 4px;
  }
  
  .chat-container .info {
    color: #666;
  }
  
  .chat-container .messages-container {
    height: 400px;
  }
  
  .chat-container footer {
    min-height: 80px;
    padding: 0.25rem 1.5rem;
  }
  
  .messages-container {
    padding: 0.5rem 1.5rem;
    overflow-y: auto;
  }
  
  .message {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .message-photo {
    display: block;
    max-width: 100%;
    border-radius: 4px;
  }
  
  .message-object .name {
    font-weight: 700;
  }
  
  .message-object .time {
    font-size: 0.85rem;
    color: #666;
  }
  
  .message-object .content {
    margin: 0.15rem 0;
    line-height: 1.4;
  }
  
  .chat-container .input-wrapper {
    border: 1px solid #666;
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    border-radius: 4px;
  }
  
  .input-wrapper span {
    font-size: 1.2rem;
  }
  
  .input-wrapper input {
    font-family: inherit;
    border: none;
    font-size: 1rem;
    margin-left: 0.25rem;
    padding-left: 0.5rem;
    border-left: 1px solid #ccc;
  }
  
  .input-wrapper input:focus {
    outline: none;
  }
  